<html>
<!-- Adapted from CS340 edit_people.j2 -->
<head>
	<meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='robots' content='noindex,noarchive,nofollow'>
	<title>Categories</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
	<h1> Financial Guru </h1>
</header>
<nav>
	<a href="index.html">Home</a>
	<a href="transactions">Transactions</a>
	<a href="accounts">Accounts</a>
	<a href="categories">Categories</a>
	<a href="household-members">Household Members</a>
</nav>
<main>
<section>
	<h2>Categories</h2>
		<p>Here you can view and/or add categories. </p>
			<fieldset>
			<div id="browse">
			<legend>View Categories</legend>
			<table>
			<!-- Access data tuple passed from app.py --> 
			{% if data %}
				<thead>
					<tr>
						<!-- Iterate through each key in the first entry to get the column name -->
						{% for key in data[0].keys() %}
						
						<!-- Create a <th> tag with the key inside of it, this will be our header row -->
						<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
						<!-- End of this for loop -->
						{% endfor %} 
					</tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					<tr>
						<!-- Then iterate through every key in the current item dictionary -->
						{% for key in item.keys() %}

						<!-- Create a <td> element with the value of that key in it -->
						<td> {{item[key]}} </td> 
						{% endfor %}

					</tr> 
					{% endfor %} 
			{% endif %} 
			</table>   
		<p>&nbsp;</p>
		</div>	<!-- browse -->
	</fieldset>

	<div id="insert">
	<form id="insertCategory" action="/categories" method="POST">
	<fieldset>
		<legend>Add Category</legend>
		<label for="name" class="required">Category Name:</label>
		<input 
		type="text" 
			name="name" id="name" 
			size="30" maxlength="100" 
			required 
			placeholder="Entertainment"  />

		<label for="number">Category Budget:</label>
		<input 
		type="text" 
			name="number" id="number" 
			size="30" maxlength="30" 
			placeholder="0000.00" />
	<button type="submit" name="Add_Category" id="Add_Category" value="Add Category">Add Category</button>
	</fieldset>
	</form>
	</div>  <!-- insert -->

</section>
</main>
<footer>
&copy; Team Financial Gurus
</footer>    

</body>
</html>
