<html>
<!-- Adapted from CS340 edit_people.j2 -->
<head>
	<meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='robots' content='noindex,noarchive,nofollow'>
	<title>Edit Household Members</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
	<h1> Edit Household Members </h1>
</header>
<main>
<section>
	<h2>Edit Household Member Form</h2>
		<p>Here you can update information for a household member. </p>
	</fieldset>

	<div id="edit">
	<form id="updateMember" action="/edit-household-members/{{data[0].member_id}}" method="POST">
	<fieldset>

            <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
            <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
           
            <input type="hidden" value="{{data[0].member_id}}" class="form-control" id="memberID" name="memberID">
			<div>ID: {{data[0].member_id}}</div>

			<div>
            <label for="name">Edit name:</label>
			<input type="text" value="{{data[0].member_name}}" id="name" name="name" required>
			</div>

	<button type="submit" name="Update_Member" id="Update_Member" value="Update Member">Update Member</button>
	</fieldset>
	</form>
	</div>  

</section>
</main>
<footer>
&copy; Team Financial Gurus
</footer>    

</body>
</html>
